---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<div class="timeline-list">
  {% for post in site.publications reversed %}
    {% unless post.kind == 'patent' %}
      {% include timeline-entry.html entry=post variant="publication" %}
    {% endunless %}
  {% endfor %}

  {% for post in site.publications reversed %}
    {% if post.kind == 'patent' %}
      {% include timeline-entry.html entry=post variant="publication" %}
    {% endif %}
  {% endfor %}
</div>
